<% unless @resultHTML %>
    <style><!--
    #owl-demo .item, #owl-demo2 .item{
            margin: 3px;
        }
    #owl-demo .item img,  #owl-demo2 .item img{
            display: block;
            width: 100%;
            height: auto;
        }

    .owl-pagination {display:none}
    .collection_title {display:none!important}
    --></style>


    <% if @isLastStep %>
        <br />
        <br />
        <div class="sixteen columns h-center">
            <%= render "proxy/breadcrumbs/faca" %>

            {% assign preview = all_products.<%= params[:handle] %> %}
            <img src="{{ preview.images[0].src | product_img_url: 'large' }}"><br />
            {{ preview.description }}<br />
            <br /><a href="/products/<%= params[:handle] %>" class="btn">View Product</a>
        </div>
    <% else %>

        <div>
          <h1 class="h-center"><%= @step.name %></h1>

          <% unless params[:handle].nil? %>
            <%= render "proxy/breadcrumbs/faca" %>
          <% end %>

          <div id="owl-demo" class="owl-carousel">

            <% if @products %>
            <% @products.each do |product| %>

            {% assign product = all_products['<%= product.handle %>'] %}
            <div class="item">

            {% if product.featured_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
                {% assign alt_text = product.title %}
            {% else %}
                {% assign alt_text = product.featured_image.alt %}
            {% endif %}


                <% unless params[:handle].nil? %>
                    <% unless params[:gtl].nil? %>
                        <% if @isFirstStep %>
                            <a href="/apps/customize/<%= @lastStep.step_url %>/{{ product.handle }}<%= params[:handle] %>{% if customer %}?u={{ customer.id }}&h={{ customer.email | md5 }}{% endif %}">
                        <% else %>
                            <a href="/apps/customize/<%= @lastStep.step_url %>/<%= params[:handle] %>{{ product.handle }}{% if customer %}?u={{ customer.id }}&h={{ customer.email | md5 }}{% endif %}">
                        <% end %>
                    <% else %>
                        <% if @next_step %>
                            <a href="/apps/customize/<%= @next_step.step_url %>/<%= params[:handle] %>-{{ product.handle }}{% if customer %}?u={{ customer.id }}&h={{ customer.email | md5 }}{% endif %}" data-preview="<%= params[:handle] %>-{{ product.handle }}">
                        <% else %>
                            <a href="/products/<%= params[:handle] %>-{{ product.handle }}" data-preview="<%= params[:handle] %>-{{ product.handle }}">
                        <% end %>
                    <% end %>
                <% else %>
                    <% if @next_step %>
                        <a href="/apps/customize/<%= @next_step.step_url %>/{{ product.handle }}{% if customer %}?u={{ customer.id }}&h={{ customer.email | md5 }}{% endif %}" data-preview="{{ product.handle }}">
                    <% else %>
                        <a href="#{{ product.handle }}" data-preview="{{ product.handle }}">
                    <% end %>
                <% end %>
                      <img class="lazyOwl" data-src="{{ product.images[0].src | product_img_url: 'medium' }}" alt="{{ alt_text | escape }}" />
                    </a>
            </div>
            <% end %>
            <% end %>

          </div>
        </div>
    <% end %>



<script>// <![CDATA[
$(document).ready(function() {
    $("#owl-demo").owlCarousel({
      items : 4,
      lazyLoad : true,
      navigation : true
    });
});
// ]]></script>

<% else %>

    <%=raw @resultHTML %>
    <br class="clear" style="clear:both;" />
    <a href="javascript:history.go(-1);" style="float:left;">Go Back</a> | <a id="nextStepLink" href="<% if @next_step %>/apps/customize/<%= @next_step.step_url %>/<%= params[:handle] %>{% if customer %}?u={{ customer.id }}&h={{ customer.email | md5 }}{% endif %}<% else %>/products/<%= params[:handle] %><% end %>"  style="float:right;">Go To Next Step</a>

<% end %>
