<% unless @resultHTML %>
<style>
.one-half-column-left {
    width:48%;
    float:left;
}

.one-half-column-right {
    width:48%;
    float:right;
}

</style>

<h1><%= @step.name %></h1>


<%
if @products
    @products.each_slice(4) do |slice|
%>
    <% slice.each do |product| %>
        {% assign product = all_products['<%= product.handle %>'] %}

        <div class="four columns thumbnail">

        {% if product.featured_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
            {% assign alt_text = product.title %}
        {% else %}
            {% assign alt_text = product.featured_image.alt %}
        {% endif %}


        <% unless params[:handle].nil? %>
            <% if @next_step %>
                <a class="item" href="/apps/customize/<%= @next_step.step_url %>/{{ product.handle }}-<%= params[:handle] %>{% if customer %}?u={{ customer.id }}&h={{ customer.email | md5 }}{% endif %}" data-preview="{{ product.handle }}-<%= params[:handle] %>">
            <% else %>
                <a class="item" href="/products/{{ product.handle }}-<%= params[:handle] %>" data-preview="{{ product.handle }}-<%= params[:handle] %>">
            <% end %>
        <% else %>
            <% if @next_step %>
                <a class="item" href="/apps/customize/<%= @next_step.step_url %>/{{ product.handle }}{% if customer %}?u={{ customer.id }}&h={{ customer.email | md5 }}{% endif %}" data-preview="{{ product.handle }}">
            <% else %>
                <a class="item" href="#{{ product.handle }}" data-preview="{{ product.handle }}">
            <% end %>
        <% end %>

            <div class="relative product_image">
               <img {% if settings.align_height %}style="max-height:{{ settings.collection_height }}px"{% endif %} src="{{ product.images[0].src | product_img_url: 'medium' }}" alt="{{ alt_text | escape }}" />
            </div>

            <div class="info"><span class="title">{{ product.title }}</span></div>

        </a>
    </div>
    <% end %>
    <br class="clear" />
<%
    end
end
%>


<% unless params[:handle].nil? %>
<br /><br />

<div class="one-half-column-left">

  <h3>Selected Product</h3>

  {% assign previous = all_products.<%= params[:handle] %> %}
  <img src="{{ previous.images[0].src | product_img_url: 'medium' }}"><br />
  <a href="/apps/customize">Change It</a><br />

</div>

<div class="one-half-column-right">
  <h3>Preview</h3>
  <div id="previewImg">Select Item</div>

  <br />
  <a href="" id="buttonCart" style="display:none">Go to Next Step</a>
</div>



<script>

  $(document).ready(function() {

    $("a.item").click(function (e) {
       e.preventDefault();

       loadPreviewImage($(this).data('preview'));
       $("#buttonCart").attr('href', $(this).attr('href'));
    });
  });

  function loadPreviewImage(handle) {
    $("#previewImg").html("Loading ....");
    $("#buttonCart").hide();
    $.ajax({
      url: "/apps/customize/show",
      data: "handle="+handle
    }).done(function(result) {
      $("#previewImg").html(result);
      $("#buttonCart").show();
    });
  }

</script>
<% end %>

<% else %>

<%=raw @resultHTML %>
<br class="clear" style="clear:both;" />
<a href="javascript:history.go(-1);" style="float:left;">Go Back</a> | <a id="nextStepLink" href="<% if @next_step %>/apps/customize/<%= @next_step.step_url %>/<%= params[:handle] %>{% if customer %}?u={{ customer.id }}&h={{ customer.email | md5 }}{% endif %}<% else %>/products/<%= params[:handle] %><% end %>"  style="float:right;">Go To Next Step</a>

<% end %>
