<%= form_for(@step) do |f| %>

<h2>Step Customization</h2>

  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :step_url %>(for the 1st step leave it blank)<br>
    <%= f.text_field :step_url %>
  </div>
  <div class="field">
    Next Step:<br>
    <select name="step[next_step_id]">
        <option value="">[optional ]Select next step ...</option>
        <%= options_from_collection_for_select(@nextSteps, 'id', 'name', @step.next_step_id) %>
    </select>
  </div>

  <div class="field">
    Use Custom HTML:<br>
    <%= f.check_box :is_custom , class: 'toggleHTML' %>
  </div>

  <div class="field" id="useCollection" <% if @step.is_custom %> style="display:none;" <% end %>>
    Use Shopify Collection:<br />
    <select id="collection_id" name="step[collection_id]">
        <%= options_from_collection_for_select(@collections, 'id', 'title', @step.collection_id) %>
    </select>
  </div>

  <div class="field" <% unless @step.is_custom %> style="display:none;" <% end %> id="customHTML">
    <%= f.label :html %><br>
    <%= f.text_area :html, :cols => 120, :rows => 18 %>
  </div>

  <div class="field">
    Only Customer: (this step will be visible for customers logged in)<br>
    <%= f.check_box :only_customer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
$(document).ready(function() {
    $("input.toggleHTML").change(function() {
        $("#useCollection").slideToggle();
        $("#customHTML").slideToggle();
    });
});

</script>
