<p id="notice"><%= notice %></p>

<h1>Listing Steps</h1>

<table>
  <thead>
    <tr>
      <th>Step Id</th>
      <th>Name</th>
      <th>Url</th>
      <th>Only Customers</th>
      <th>Next Step Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each_with_index do |s, index| %>
      <tr>
        <td><%= s.id %></td>
        <td><%= s.name %></td>
        <td><%= s.step_url %></td>
        <td><% if s.only_customer %>Yes<% else %>No (Public)<% end %></td>
        <td>
        <% if s.next_step_id %>
            <%= s.next_step_id %>
        <% else %>
            N/A
        <% end %>
        </td>
        <td><%= link_to 'Show', s %></td>
        <td><%= link_to 'Edit', edit_step_path(s) %></td>
        <td><%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_step_path %> | <%= link_to "Webhooks", 'webhooks' %>
